In [1]:
import pandas as pd
import os

os.getcwd()

'C:\\Users\\M\\OneDrive\\Documents\\SPRING'

In [3]:
df2 = pd.read_csv("trips.csv")
df2

,Unnamed: 0,id,duration,start_date,start_station,end_date,end_station,bike_number,sub_type,zip_code,birth_date,gender
0,0,1,9,2011-07-28 10:12:00,23,2011-07-28 10:12:00,23,B00468,Registered,'97217,1976.0,Male
1,1,2,220,2011-07-28 10:21:00,23,2011-07-28 10:25:00,23,B00554,Registered,'02215,1966.0,Male
2,2,3,56,2011-07-28 10:33:00,23,2011-07-28 10:34:00,23,B00456,Registered,'02108,1943.0,Male
3,3,4,64,2011-07-28 10:35:00,23,2011-07-28 10:36:00,23,B00554,Registered,'02116,1981.0,Female
4,4,5,12,2011-07-28 10:37:00,23,2011-07-28 10:37:00,23,B00554,Registered,'97214,1983.0,Female
...,...,...,...,...,...,...,...,...,...,...,...,...
496,496,510,692,2011-07-29 08:55:00,38,2011-07-29 09:07:00,48,B00543,Casual,NaN,NaN,NaN
497,497,511,931,2011-07-29 08:55:00,22,2011-07-29 09:11:00,38,B00487,Registered,'02030,1962.0,Female
498,498,512,9408,2011-07-29 08:56:00,25,2011-07-29 11:33:00,48,B00389,Registered,'02118,1980.0,Male
499,499,513,238,2011-07-29 08:57:00,16,2011-07-29 09:01:00,25,B00196,Registered,'02116,1973.0,Male
500,500,514,545,2011-07-29 09:01:00,38,2011-07-29 09:10:00,35,B00077,Registered,'01773,1950.0,Male